@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=SUSE:wght@100..800&display=swap');

:root{
    --azul: #2A7AE4;
    --tierra-fondo: #EAF2FD;
    --blanco: #FFFFFF;
    --negro-gris: #343a40;
    --balnco-fondo: #F5F5F5;
    --raleway-font: "Raleway", sans-serif;
}

*{
    border: 1px solid red;
}

body {
    font-family: var(--raleway-font);
    color: var(--negro-gris);
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--balnco-fondo);
}

/*Cabecera*/
.contenedor__cabecera{
    display: flex;
    justify-content: space-between;
    margin: 3% 11%;
    align-content: center;
}

.cabecera__negrilla{
    display: flex;
    font-weight: 800;
}

.cabecera__lista{
    display: flex;
    gap: 1.5rem;
}

.cabecera__lista--none{
    display: none;
}

/*Información inicial*/
.contenedor__informacion{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 3rem 2%;
    align-content: center;
}

.informacion__img{
    width: 30%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.informacion__div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.informacion__titulo{
    font-weight: 800;
    font-size: 3rem;
    text-align: start;
}

.infromacion__descripcion{
    font-size: 1.1rem;
    text-align: start;
}

.informacion__lista{
    display: flex;
    gap: 2rem;
    font-weight: 800;
}

.informacion__lista-img{
    display: flex;
    align-items: center;
}

/*Sobre mi*/
.contenedor__sobreMi{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--tierra-fondo);
    width: 100%;
}

.sobreMi__texto{
    text-align: start;
    padding: 0rem 1rem 1rem 1rem;
}

/*Habilidades y pasatiempos*/
.contenedor__habilidadesPasatiempos{
    display: flex;
    flex-direction: column;
}

.titulo{
    font-size: 2rem;
    font-weight: 800;
    margin: 2rem 0rem;
}

.habilidadesPasatiempos__lista {
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    gap: 2rem;
    margin: 1rem 1rem 1rem 6%;
    flex-wrap: wrap;
}

.habilidadesPasatiempos__items{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    background-color: var(--blanco);
    height: 5rem;
    width: 10rem;
    font-size: 1rem;
    padding: 5rem 0rem 0rem 1rem;
    text-align: start;
}

.habilidadesPasatiempos__items img{
    width: 2rem;
    height: 2rem;
}

/*Formacion academica*/
.contenedor__informacionAcademica{
    display: flex;
    flex-direction: column;
    background-color: var(--tierra-fondo);
}

.informacionAcademica__lista{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    gap: 1.3rem;
}

.informacionAcademica__lista h3{
    font-size: 1.3rem;
    font-weight: 800;
    text-align: start;
    padding: 0.8rem 0rem;
}

.informacionAcademica__lista p{
    text-align: start;
    padding-bottom: 1rem;
}

.informacionAcademica__div{
    width: 25rem;
    height: 12rem;
    background-color: var(--blanco);
    align-content: center;
}

.informacionAcademica__div img{
    width: 9rem;
    height: 9rem;
    object-fit: contain;   
}

/*Experiencia profesional*/
.contenedor__Experiencia{
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.experiencia__section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
}

.experiencia__ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.experiencia__ul h3{
    font-size: 1.6rem;
    font-weight: 800;
}

.experiencia__ul li{
    display: flex;
    gap: 1rem;
}

.experiencia__ul a{
    width: 8rem;
    height: 3rem;
    align-content: center;
}

.experiencia__ul a:nth-child(1){
    border: 1px solid var(--azul);
    color: var(--azul);
}

.experiencia__ul a:nth-child(2){
    background-color: var(--azul);
    color: var(--blanco);
}

/*Seccion de contacto*/
.contenedor__contacto{
    text-align: start;
    background-color: var(--tierra-fondo);
}

.contacto__div{
    padding-top: 1rem;
    padding-left: 5%;
}

.contacto__div p{
    padding-bottom: 2rem;

}

.contacto__formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.contacto__formulario input{
    height: 4.5rem;
    width: 90%;
}

.contacto__formulario textarea{
    height: 10rem;
    width: 90%;
}

.contacto__formulario button{
    background-color: var(--azul);
    color: var(--blanco);
    height: 3rem;
    width: 10rem;
    align-self: self-start;
    margin-left: 5%;
    margin-bottom: 2rem;
}

/*Footer*/
.contenedor__footer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0rem;
    font-weight: 500;
}

.contenedor__footer a{
    background-color: var(--azul);
    color: var(--blanco);
    width: 8rem;
    height: 2.5rem;
    align-content: center;
    align-self: center;
}


/*Tablets y pantallas más grandes*/
@media (min-width: 750px) {
    /*Informacion*/
    .contenedor__informacion{
        display: flex;
        flex-direction: row-reverse;
        gap: 2rem;
        align-items: center;
    }
    
    .informacion__lista{
        display: flex;
        gap: 3rem;
    }

    /*Informacion academica*/
    .informacionAcademica__lista{
        align-self: center;
    }


    .informacionAcademica__lista h3{
        font-size: 0.7rem;
        gap: 1rem;
    }

    .informacionAcademica__lista p{
        font-size: 0.7rem;
    }

    .informacionAcademica__div{
        width: 13rem;
        height: 13rem;
    }
    
    .informacionAcademica__div img{
        width: 9rem;
        height: 9rem;
        object-fit: contain;   
    }


}

/*Pantallas grandes*/
@media (min-width: 1024px) {

    /*Cabecera*/
    .cabecera__lista--none{
        display: flex;
    }

    /*Informacion*/
    .contenedor__informacion{
        display: flex;
        flex-direction: row-reverse;
        gap: 2rem;
        margin: 3% 11%;
        align-items: center;
    }

    .informacion__lista{
        display: flex;
        gap: 3rem;
    }

    /*Sobre mi*/
    .sobreMi__texto{
        text-align: start;
        padding: 0rem 40% 0rem 11%;
    }

    /*Informacion academica*/
    .informacionAcademica__lista{
        align-self: center;
        gap: 2rem;
    }
    
    .informacionAcademica__div{
        width: 23rem;
        height: 15rem;
        align-content: center;
    }
    
    .informacionAcademica__div img{
        width: 10rem;
        height: 10rem;
        object-fit: contain;   
    }

    .informacionAcademica__lista h3{
        font-size: 1.3rem;
    }

    .informacionAcademica__lista p{
        font-size: 1rem;
    }

    /*Experiencia*/
    .experiencia__section{
        padding-bottom: 3rem;
        gap: 3rem;
    }


    .experiencia__ul{
        justify-content: center;
    }


    /*Experiencia izquierdo*/
    .izquierdo{
        display: flex;
        flex-direction: row;
        margin-left: 11%;
        margin-bottom: 2rem;
    }

    .izquierdo img{
        height: 28%;
        width: 60%;
    }

    /*Experiencia derecho*/
    .derecho{
        display: flex;
        flex-direction: row-reverse;
        margin-left: 2%;
        margin-bottom: 2rem;
    }

    .derecho img{
        height: 28%;
        width: 60%;
    }

}